<%- include('elements/_header') %>



    
</head>
<body>
    <section style="align-items: center;">
        <div class="container heading-container" >
            <div class="row">
                <div class="column">
                    <h1>Program</h1>
                </div>
            </div>
            
            
            
        <div class="createnew-btn" >
            <a class="btn btn-primary m-3" href="/createProgram" role="button">Create New<span class="text-gradient"> <i class="fa-solid fa-user"></i></span></a>
            

    </section>

    <section>
        
                        
                        
                     
                    <div class="table-responsive table">
    
                        <% if (program != '') { %>
                            <table class="table table-striped">
                                <thead>
                                    <tr class="table-primary">
                                        <th>ID</th>
                                        <th>Name</th>
                                        <th>Duration</th>
                                        <th>Cost</th>
                                        <th>Edit</th>
                                        <th>Delete</th>
                                 </tr>
                                </thead>
                                <tbody>
                                
                                   <%  for(var i = 0; i<program.length; i++){ %>
                                    <tr>
                                        <td><%= program[i].programid %></td>  
                                        <td><%= program[i].pname %></td>
                                        <td><%= program[i].duration %></td>
                                        <td><%= program[i].cost %></td>
                                        <td>
                                            <form method="POST" action="/update-program/<%= program[i]._id%>?_method=UPDATE">
                                                <button type="submit"><i class="fas fa-edit fa-lg mx-1 btn"></i></button>
                                                
                                              </form>
                                            </td>
                            
                                            <td>
                                            <form method="POST" action="/delete-program/<%= program[i]._id %>?_method=DELETE">
                                                <button type="submit"> <i class="fa-sharp fa-solid fa-trash btn" style="color:red"></i></button>
                                               
                                              </form>
                                            
                                            </td>
                                    </tr>
                                   <% } %>
                                </tbody>
                            </table>
                        <% } else {%>
                            <h2 class="text-center text-secondary mt-3"> No students</h2>
    
                            <% } %>
                        
    
                    </div>
        
                </div>
            </div>
        </div>
    </section>

    
    <%- include('elements/_footer') %> 